[credential]
	helper = store

[commit]
  template = ~/location-where-you-put-it/.git-commit-template

[push]
	default = current

[alias]
    b            = branch
    c            = commit
    ca           = !git add -A && git commit -m
    changedfiles = diff --name-only
    co           = checkout
    cob          = checkout -b
    conf         = config --global --edit
    cp           = cherry-pick
    id           = log --pretty=format:'ID:    %h%nDate:  %aD%nRefs:%d' --abbrev-commit --date=short -1
    ignored      = ls-files --others -i --exclude-standard --directory
    l            = log --decorate --name-status
    l1           = log --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%ci) %C(bold blue)<%an>%C(reset)'
    m            = merge
    pt           = push --tags
    r            = remote
    rb           = rebase
    remotes      = remote -v
    rv           = revert
    s            = status
    sq           = squash
    st           = status
    sub          = submodule
    t            = tag
    tags         = tag
    yesterday    = log --decorate -p --since=yesterday
